{% extends "oef/base.html" %}
{% load crispy_forms_tags  %}
{% block header %}
 <div class="text-center">
	<img src="/media/costume%20hoedje%20af.png" class="rond " alt="Mathman Hoedje Af" >
 </div>
{% endblock header %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Reset Paswoord</legend>
				{{ form|crispy}}	
			</fieldset>
			<div class="form-group">
				<br>
				<button class="btn btn-primary b-block text-center" type="submit">Vraag een nieuw Paswoord aan</button>
			</div>
		</form>
	</div>
	
{% endblock content %}
